<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuizBuzz</title>

    <!-- Bootstrap Core CSS -->
    <link href="/site_media/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/site_media/css/template.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/site_media/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
</head>

<body class="bg-img">
    <header>
            <div class="navbar navbar-default-ems navbar-fixed-top">
                <div class="container"><a href="/" class="navbar-brand slogan">QuizBuzz</a></div>
            </div>
            <div style="clear:both;"></div>
    </header>
    
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="tcl-login tcl-login-panel tcl-panel-default">
                           <div class="panel-body tcl-panel-heading">
                                <form method="post" action".">
                                {% if form.non_field_errors %}
                                  <div class="isa_error">
                                      <!--<i class="fa fa-times-circle"></i> -->
                                      {{ form.non_field_errors|striptags }}
                                  </div>
                                {% endif %}

                                    {% csrf_token %}
                                    <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                       {{ form.username }}
                                    </div>
                                    {% if form.username.errors %}
                                      <div class="isa_error">
                                          <!--<i class="fa fa-times-circle"></i> -->
                                          {{ form.username.errors }}
                                      </div>
                                    {% endif %}

                                    <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                       {{ form.firstname }}
                                    </div>
                                    {% if form.firstname.errors %}
                                      <div class="isa_error">
                                          <!--<i class="fa fa-times-circle"></i> -->
                                          {{ form.firstname.errors }}
                                      </div>
                                    {% endif %}
                                    <div class="form-group inner-addon left-addon">
                                        <i class="glyphicon glyphicon-user"></i>
                                       {{ form.lastname }}
                                    </div>
                                    {% if form.lastname.errors %}
                                      <div class="isa_error">
                                          <!--<i class="fa fa-times-circle"></i> -->
                                          {{ form.lastname.errors }}
                                      </div>
                                    {% endif %}
                                    <div class="form-group inner-addon left-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                       {{ form.email }}
                                    </div>
                                    {% if form.email.errors %}
                                      <div class="isa_error">
                                          <!-- <i class="fa fa-times-circle"></i>-->
                                          {{ form.email.errors }}
                                      </div>
                                    {% endif %}
                                    <div class="form-group inner-addon left-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                       {{ form.password1 }}
                                    </div>
                                    {% if form.password1.errors %}
                                      <div class="isa_error">
                                          <!--<i class="fa fa-times-circle"></i> -->
                                          {{ form.password1.errors }}
                                      </div>
                                    {% endif %}
                                    <div class="form-groupi inner-addon left-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                       {{ form.password2 }}
                                    </div>
                                    {% if form.password2.errors %}
                                      <div class="isa_error">
                                         <!-- <i class="fa fa-times-circle"></i>-->
                                          {{ form.password2.errors }}
                                      </div>
                                    {% endif %}
                                       <!-- <input type="text"  placeholder="Enter Your First Name"  class="form-control" name="name"/> --!>
                                    <!--<div class="form-group">
                                        <input type="text" name="last" placeholder="Enter Your Last Name" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="mail" placeholder="Enter Your Mail ID" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="password" placeholder="Enter Your Password" class="form-control"/>
                                    </div> -->
                                    <p>By clicking "Join Now", you agree to the <a href="/terms-of-use" target="_blank">Terms of Use </a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a></p>
                                    <div class="form-group text-center margin-bottom-0">
                                        <input type="submit" value="Join Now" class="tcl-btn"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer>
    <div class="footer-tcl">
           <div class="container footer-list">
            <div class="row">
            <div class="col-md-12 footer-cont">
                <p style="margin-top:20px;">© 2018 QuizBuzz.in. All rights reserved.</p>
            </div>
            </div>
    </div>
    </footer>

    <!-- jQuery -->
    <script src="/site_media/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
          //Disable cut copy paste
          $('body').bind('cut copy paste', function (e) {
              e.preventDefault();
          });
   
          //Disable mouse right click
          $("body").on("contextmenu",function(e){
              return false;
          });
      });
    </script>

</body>

</html>
