{% if examlist %}
{% else %}
  <p>No Exam found.</p>
{% endif %}
    <div>
       <table class="table">
           <thead>
           <tr>
             <th>S.No</th>
             <th>Exam Name</th>
             <th>No of Question</th>
             <th>Duration</th>
             <th>No of Attempts</th>
             <th> </th>
           </tr>
           </thead>

           <tbody>
{% for exam in examlist %}
           <tr>
             <td>1</td>
             <td>{{ exam.examname }}</td>
             <td>{{ exam.total_questions }}</td>
             <td>{{ exam.duration }} minutes</td>
             <td>{{ exam.attempts_allowed }}</td>
             <td><button id="{{ exam.id }}examdetailbtn" type="button" class="ln active" data-toggle="modal" data-target="#myModal">Enroll Now</button></td>
           </tr>

           <script>$("#{{ exam.id }}examdetailbtn").click(function(){
             var marks = Number({{ exam.total_questions }}) * Number({{ exam.mark_per_qtn }});
             $("#myModal").find(".modal-title").html( "<h4> {{ exam.examname }} </h4>" );
             $("#myModal").find(".modal-title").find("h4").attr("class", "modal-title text-center");
             $("#myModal").find(".modal-body").find("#examqtn").text({{ exam.total_questions }});
             $("#myModal").find(".modal-body").find("#examattempt").text({{ exam.attempts_allowed }});
             $("#myModal").find(".modal-body").find("#markperqtn").text({{ exam.mark_per_qtn }});
             $("#myModal").find(".modal-body").find("#negperqtn").text({{ exam.negative_per_qtn }});
             $("#myModal").find(".modal-body").find("#examduration").text({{ exam.duration }});
             $("#myModal").find(".modal-body").find("#totalmark").text(marks.toString());

             {% if user.username %}
                $("#myModal").find(".modal-footer").html( "  <form id=\"addexam-form\" method=\"post\" action=\"/addexam/\"> \
                                                      {% csrf_token %} \
                                                      <input type=\"hidden\" name=\"examid\" value=\"{{ exam.id }}\" /> \
                                                      <button type=\"submit\" value=\"addexam\">Subscribe </button> \
                                                    </form> \
                                                    " );
                $("#myModal").find(".modal-footer").find("button").attr("id", "{{ exam.id}}addexambtn");
                $("#myModal").find(".modal-footer").find("button").attr("class", "addtoaccount");
             {% endif %}
            });
           </script>

{% endfor %}
           </tbody>
       </table>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Modal Header</h4>
      </div>
      <div class="modal-body">
                                <table class="table">
                                <thead>
                                  <tr>
                                    <th><span class="glyphicon glyphicon-th-list"></span>Question</th>
                                    <th><span class="glyphicon glyphicon-th-list"></span>Attempts</th>
                                    <th><span class="glyphicon glyphicon-time"></span>Duration</th>
                                    <th><span class="glyphicon glyphicon-book"></span></span>Marks</th>
                                    <th><span class="glyphicon glyphicon-book"></span></span>Total Marks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td id=examqtn>0</td>
                                    <td id=examattempt>0</td>
                                    <td id=examduration>0 Min</td>
                                    <td>
                                      <table class="exam-table">
                                        <tr><td> <span class="glyphicon glyphicon-ok-circle"></td><td><span class="glyphicon glyphicon-plus-sign"></td><td id=markperqtn>0</td></tr>
                                      </table>
                                      <table class="exam-table">
                                        <tr><td><span class="glyphicon glyphicon-remove-sign"></td><td><span class="glyphicon glyphicon-minus-sign"></td><td id=negperqtn>0</td></tr>
                                      </table>
                                    </td>
                                     <td id=totalmark>0</td>
                                  </tr>
                                </tbody>
                             </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="addtoaccount" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


