<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExamCentral</title>

    <!-- Bootstrap Core CSS -->
    <link href="site_media/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="site_media/css/template.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="site_media/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   

</head>

<body class="bg-img">
    <header>
            <nav class="navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand slogan" href="/">ExamCentral</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right topmenus">
                    <li><a href="/login"><button type="button" class="exam-btn">Login</button></a></li>
                    <li><a href="/register"><button type="button" class="exam-btn float-right">Sign Up</button></a></li>
                  </ul>
                </div>
              </div>
            </nav>
    </header>
            
            
    
    <section>
            <div class="container" style="height:580px;">
                 <!-- Modal -->
                    <div id="alertModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center"></h4>
                          </div>
                        </div>

                      </div>
                    </div>
                 <!-- Modal end -->
                     
				<!--<div class="item1">
				</div>-->
            </div>
    </section>
    <footer>
    <div class="footer-tcl">
           <div class="container footer-list">
            <div class="row">
            <div class="col-md-12 footer-cont">
                <!--<h4>Mission of Exam Central</h4>-->
				<p style="margin-top:20px;">© 2018 ExamCentral. All rights reserved.</p>
            </div>
            </div>
            <!--<div class="col-md-3 padding-left-0">
                <h4 class="padding-left-36">Why Exam Central</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                     
                </ul>
            </div>
            <div class="col-md-3 padding-left-0">
                 <h4 class="padding-left-36">Connect with us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3 padding-left-0">
                 <h4 class="padding-left-36">More</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
           </div>-->
    </div>
    </footer>

    <!-- jQuery -->
    <script src="site_media/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="site_media/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
     $(window).on('load',function(){
              {% if messages %}
                {% for message in messages %}
                $("#alertModal").find("h4").text("{{ message }}");
                    $('#alertModal').modal('show');
                {% endfor %}
              {% endif %}
                    });
    </script>
</body>

</html>
