{% extends "base.html" %}
{% block external %}
      <script type="text/javascript" src="/site_media/search.js">
      </script>
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block head %}Welcome to ExamCentral{% endblock %}
{% block content %}
  {% if user.username %}
    <p>Welcome {{ user.username }}!
      <p><a href="/logout/">Logout</a></p>
      <p>You can start taking the exams now!</p>
  {% else %}
    <p>Welcome anonymous user!
      You need to <a href="/login/">login</a>
      before you can start taking exams.</p>
  {% endif %}

  <form id="search-form" method="get" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button-ec btn-large" type="submit" value="search" />
  </form>

  {% if show_emptysearch_warn %}
    <p> Enter some characters for search  </p>
  {% endif %}
  <div id="search-results">
    {% if show_results %}
      {% include 'examlist.html' %}
    {% endif %}
  </div>

   <!--<a href="/search/">Search Exam</a> --!>

{% endblock %}
