{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 cont-head"><h4>Privacy Policy</h4></div>
    </div>
    <br><p>
The QuizBuzz privacy policy explains how the user information, which includes the information that the user provide us, and the information we will gain and collect from the user's use of QuizBuzz, will be used and protected by us.</p>
<p>The Information provided by the user, includes information we explicitly ask for when the user sign up with QuizBuzz. This includes information like the user's name, email address, address etc. The use of this information will be strictly to enforce authenticity of the user signing up, and provide personalization of the service further. We will not disclose this personal information, unless consented by the user or unless demanded by law.</p>

<p>The User Account created is protected by a password selected by the user. This password is encrypted and saved for verification during login. Passwords are not visible to any admin either unless decrypted.</p>

<p>During the course of usage of QuizBuzz.in, there will be information we will gain and collect. This could include information on the tests the user takes, questions user got right, their answers and general standing among all other test takers. If user is using QuizBuzz.in from a Mobile or Tablet Device, we may collect device-specific information (such as hardware model, unique device identifier, IP Address, Location Information, OS etc.). We may also associate the device identification with user's account.</p>

<p>
The information we collect from usage of our services, will be protected by us and will be used to improve upon our service, offer the user with better content and tests customized to user preferences and performance.</p>
<p>Some of the information may be shared as needed with content publishers, or other consumers, to aid improvement of QuizBuzz or improvement in the test generation aspects.</p>

<p>Aggregated information, which is non-personally identifiable may be shared with our partners – like publishers, advertisers or connected parties. This could include trends, demographic access details, genre of tests most accessed etc.</p>

<p>All information collected will be protected with security safeguards like SSL Encryption and Email Verification of Account. The Privacy Policy may change from time to time. The changes will not reduce the user's rights without explicit consent.
</p>
{% endblock %}
