{% extends "base2.html" %}
{% block title %}Attend Exam{% endblock %}
{% block external %}
      <script type="text/javascript" src="/site_media/getqtn.js">
      </script>
      <script type="text/javascript">
      (function () {
        function display( notifier, str ) {
          document.getElementById(notifier).innerHTML = "Time Remaining: " + str;
        }
      
        function toHourMinuteAndSecond( x ) {
          return Math.floor(x/3600) + ":" + Math.floor((x - (Math.floor(x/3600) * 3600)) / 60) + ":" + x%60 ;
        }
      
        function setTimer( remain, actions ) {
          var action;
          (function countdown() {
             display("countdown", toHourMinuteAndSecond(remain));
             if (action = actions[remain]) {
               action();
             }
             if (remain > 0) {
               remain -= 1;
               setTimeout(arguments.callee, 1000);
             }
          })(); // End countdown
        }
      
        setTimer({{ duration }} * 60, {
          10: function () { display("countdown", "Just 10 seconds to go"); },
           5: function () { display("countdown", "5 seconds left");        },
           0: function () { display("countdown", "Time is up. Auto Submission of exam;"); document.getElementById("submitexam").click(); }
        });
      })();
      
      </script>
{% endblock %}
{% block content %}

<!--  <div style="width:100%;">
    <div id="qarea" style="width:50%;height:500px; float:left;border:1px solid #ccc;"> 
     
    </div>
    <div style="width:40%;height:500px; float:right; border:1px solid #ccc"> 
       <input type="hidden" id="examid" value="{{ examid }}" />
       <form id="getqtn-form" method="get" action=".">
         {% csrf_token %}
         {% for index in quploaded %}
           <input id="qno{{ index }}" type="submit" value="{{ index }}" />
         {% endfor %}
       </form>
    </div>
  </div>
--!>
                <div class="row">
                    <div class="col-md-12 cont-head"><div class="pull-left"><h4>{{ examname }}</h4></div><div id="countdown" class="pull-right"></div></div>
                </div>

                <div id="content-div" class="row">
                    <div class="col-md-8" style="border:1px solid #ccc; border-radius: 5px; margin-bottom: 12px; ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#general">General Awareness</a></li>
                            <li><a data-toggle="tab" href="#analysis">Data Analysis</a></li>
                            <li><a data-toggle="tab" href="#language">English Language</a></li>
                            <li><a data-toggle="tab" href="#reasoning">Reasoning</a></li>
                        </ul>
                      <div class="tab-content">
                        <div id="general" class="tab-pane fade in active border-radius">
                           <div id="qdirection">
                           </div>
                           <div id="genList" style="">
                           </div>

                        </div>
                        <div id="analysis" class="tab-pane fade border-radius">
                           <div id="analysisList" style="">
                           </div>
                        </div>
                        <div id="language" class="tab-pane fade border-radius">
                           <div id="langList" style="">
                           </div>
                        </div>
                        <div id="reasoning" class="tab-pane fade border-radius">
                           <div id="reasonList" style="">
                           </div>
                        </div>
                      </div>
                        <div class="col-md-3 margin-top-10 margin-bottom-10"><input type="button" id="review" class="addtoaccount" value="Mark for Review and Next" /></div>
                        <div class="col-md-3 margin-top-10 margin-bottom-10 margin-left-20"><input type="button" id="clear" class="addtoaccount" value="Clear Response" /></div>
                        <div class="col-md-3 margin-top-10 margin-bottom-10"><input type="button" id="prev" class="addtoaccount pull-right" value="Previous" /></div>
                        <div class="col-md-2 margin-top-10 margin-bottom-10"><input type="button" id="next" class="addtoaccount pull-right" value="Save and Next" /></div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="btn-border">
                          <input type="hidden" id="examid" value="{{ examid }}" />
                          <input type="hidden" id="attemptid" value="{{ attemptid }}" />
                          <input type="hidden" id="totalqtns" value="{{ totalqtns }}" />
                          <form id="getqtn-form" method="get" action=".">
                            {% csrf_token %}
                            {% for index in quploaded %}
                              <input id="qno{{ index }}" type="submit" class="btn btn-info btn-sm" value="{{ index }}" />
                            {% endfor %}
                          </form>
                        </div>
                        <div class="margin-top-10 margin-bottom-10">
                            <div class="mark-sec-float-left">Answered</div>
                            <div class="mark-sec-float-left"><input type="button"  name="" value="" class="btn btn-info btn-sm ans-btn"/></div>
                            <div class="mark-sec-float-left">Not Visited</div>
                            <div class="mark-sec-float-left"><input type="button"  name="" value="" class="btn btn-info btn-sm notvisit-bton"></div>
                        </div>
                        <div>
                            <div class="mark-sec-float-left"">Marked for Review</div>
                            <div class="mark-sec-float-left"><input type="button"  name="" value="" class="btn btn-info btn-sm markrew-btn"/></div>
                            <div class="mark-sec-float-left">Not Answered</div>
                            <div class="mark-sec-float-left"><input type="button"  name="" value="" class="btn btn-info btn-sm notans-btn"></div>
                        </div>
                        <div style="clear:both;"></div>
                        <div style="" class="submit-area">
                            <div class="submit-inst"><a href="#">Instructions</a></div>
                              <div class="submit-btns">
                                  <input id="submitexam" type="button" name="" value="Submit" class="tcl-btn"/>
                        </div>

                    </div>

                </div>

{% endblock %}
