{% if userexams %}
    {% for exam in userexams %}
       <div class="col-md-3 margin-top-10 margin-bottom-10">
          <div><img src="/site_media/images/inst-img.jpg" class="img-thumbnail1" width="197" height="91"></div>
          <div class="main-cont"><div class="height-100">{{ exam.examname | escape}}</div>
          <form id="removeexam-form" method="post" action="/removeexam/">
            {% csrf_token %}
            <input type="hidden" name="examid" value="{{ exam.examname.id }}" />
            <button id="{{exam.id}}removeexambtn" class="exam-btn" type="submit" value="removeexam"> Remove </button>
          </form>

          <form id="takeexam-form" method="post" action="/takeexam/">
            {% csrf_token %}
            <input type="hidden" name="examid" value="{{ exam.examname.id }}" />
            <button id="{{exam.id}}takeexambtn" class="exam-btn" type="submit" value="takeexam">Take Exam</button>
          </form>
          </div>

        </div>

    {% endfor %}
{% else %}
  <p>No Exam found.</p>
{% endif %}

