{% extends "base.html" %}
{% block external %}
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script type="text/javascript" src="/site_media/editqtn.js">
      </script>
{% endblock %}
{% block content %}
    {% if user.is_staff %}
      <div class="row">
        <div class="col-md-12 cont-head"><h4>Exam Details - {{ examname }}</h4></div>
      </div>
                 {% include 'staff/deleteqtn_modal.html' %}
                 {% include 'staff/editqtn_modal.html' %}
                 {% include 'staff/previewqtn_modal.html' %}
      <div class="row">
        {% include 'staff/qtnlist.html' %}
      </div>

      <div class="addqns">
        <button type="button" class="ln active" data-toggle="modal" data-target="#qaddModal">Add question</button>
      </div>

      <!-- Modal -->
      <div id="qaddModal" class="modal fade" role="dialog">
           <div class="modal-dialog">

           <!-- Modal content-->
            <div class="modal-content edit-model">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Add Question</h4>
              </div>
             <div class="modal-body">

             <form id="addqtn-form" enctype="multipart/form-data" method="post" action="/addquestions/">
             <table class="table">
             <tbody>
               {% csrf_token %}
                  {% if form.qno.errors %}
                   <tr><td>{{ form.qno.errors }}</td></tr>
                  {% endif %}
                 <tr>
                   <td colspan="2">{{ form.qno }}</td>
                   <td></td>
                 </tr>
                  {% if form.question.errors %}
                   <tr><td>{{ form.question.errors }}</td></tr>
                  {% endif %}
                 <tr>
                   <td colspan="2">{{ form.question }}</td>
                   <td></td>
                 </tr>
                  {% if form.qtype.errors %}
                 <tr> <td>{{ form.qtype.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.qtype.label_tag }}</td>
                   <td>{{ form.qtype }}</td>
                 </tr>
                  {% if form.qcategory.errors %}
                 <tr><td>{{ form.qcategory.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.qcategory.label_tag }}</td>
                     <td>{{ form.qcategory }}</td>
                 </tr>
                  {% if form.haspic.errors %}
                 <tr><td>{{ form.haspic.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.haspic.label_tag }}</td>
                     <td>{{ form.haspic }}</td>
                 </tr>
                  {% if form.pic.errors %}
                 <tr><td>{{ form.pic.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.pic }}</td>
                 </tr>
                  {% if form.hasdirection.errors %}
                 <tr><td>{{ form.hasdirection.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.hasdirection.label_tag }}</td>
                     <td>{{ form.hasdirection }}</td>
                 </tr>
                  {% if form.direction.errors %}
                 <tr><td>{{ form.direction.errors }}</td></tr>
                  {% endif %}
                 <tr><td colspan="2">{{ form.direction }}</td>
                 </tr>
                  {% if form.optionA.errors %}
                 <tr><td>{{ form.optionA.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.optionA }}</td>
                   <td>{{ form.isOptionA.label_tag }}  {{ form.isOptionA }}</td>
                 </tr>
                  {% if form.optionB.errors %}
                 <tr><td>{{ form.optionB.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.optionB }}</td>
                   <td>{{ form.isOptionB.label_tag }}  {{ form.isOptionB }}</td>
                 </tr>
                  {% if form.optionC.errors %}
                 <tr><td>{{ form.optionC.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.optionC }}</td>
                   <td>{{ form.isOptionC.label_tag }} {{ form.isOptionC }}</td>
                 </tr>
                  {% if form.optionD.errors %}
                 <tr><td>{{ form.optionD.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.optionD }}</td>
                     <td>{{ form.isOptionD.label_tag }} {{ form.isOptionD }}</td>
                 </tr>
                  {% if form.optionE.errors %}
                 <tr><td>{{ form.optionE.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.optionE }}</td>
                     <td>{{ form.isOptionE.label_tag }} {{ form.isOptionE }}</td>
                 </tr>
                  {% if form.answer.errors %}
                 <tr><td>  {{ form.answer.errors }}</td></tr>
                  {% endif %}
                 <tr><td>{{ form.answer }}</td>
                 </tr>
                </tbody>
                </table>
               </div>

               <input type="hidden" name="examid" value="{{ examid }}" />
               
               <div class="modal-footer">
                   <button class="addtoaccount" type="submit">Add</button>
               </div>
               </form>
             </div>
           </div>
         </div>
                 <!-- Modal end -->
    {% endif %}

{% endblock %}
