{% if examlist %}
{% else %}
  <p>No Exam found.</p>
{% endif %}
    <div>
       <table class="table">
           <thead>
           <tr>
             <th>S.No</th>
             <th>Exam Name</th>
             <th>No of Question</th>
             <th>Duration</th>
             <th>Price (Rs.)</th>
             <th>Attempts Per Purchase</th>
             <th> </th>
             <th> </th>
             <th> </th>
           </tr>
           </thead>

           <tbody>
{% for exam in examlist %}
           <tr>
             <td>{{ forloop.counter|add:offset }}</td>
             <td>{{ exam.examname }}</td>
             <td>{{ exam.total_questions }}</td>
             <td>{{ exam.duration }} minutes</td>
             <td>{{ exam.price }}</td>
             <td>{{ exam.attempts_allowed }}</td>
             <td>
                 <form id="examdetail-form" method="post" action="/getexamdetails/">
                    {% csrf_token %}
                    <input type="hidden" name="examid" value="{{ exam.id }}" />
                    <input type="submit" class="exam-btn info" style="width:70px; margin-top:0px; font-weight: normal; padding:4px; border:none;" value="View"/>
                 </form>
             </td>
                    {% if exam.published %}
             <td class="delete">
                    {% else %}
             <td class="save">
                    {% endif %}
                 <form method="post" action="/publishexam/">
                    {% csrf_token %}
                    <input type="hidden" name="examid" value="{{ exam.id }}" />
                    {% if exam.published %}
                      <button type="submit" class="ln active">Hide</button>
                    {% else %}
                      <button type="submit" class="ln active">Publish</button>
                    {% endif %}
                 </form>
             </td>
           </tr>

{% endfor %}
           </tbody>
       </table>
       <div class="pagination">
         <span class="step-links">
          {{ pagination|safe }}
         </span>
       </div>
    </div>
