{% if qtnlist %}
{% else %}
  <p>No Question Added</p>
{% endif %}
    <div>
       <table class="table">
           <thead>
           <tr>
             <th>Q.No</th>
             <th>Question</th>
             <th>Q.Type</th>
             <th>Category</th>
             <th>Has Pic</th>
             <th>Has Direction</th>
             <th>Answer</th>
             <th></th>
             <th></th>
             <th></th>
           </tr>
           </thead>

           <tbody>
{% for qtn in qtnlist %}
           <tr>
             <td>{{ qtn.qno }}</td>
             <td>
                 <div class="form-group inner-addon">
                     <input type="text"  placeholder="{{ qtn.question }}"  class="form-control" name=""/>
                 </div>
             </td>
             <td>
                <div class="dropdown">
                 {% if qtn.qtype == 1 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Either or Choice <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 2 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">True or False <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 3 %}
                 <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Multiple selection <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 4 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Descriptive <span class="caret"></span></button>
                 {% endif %}
                </div>
             </td>
             <td>
                <div class="dropdown">
                 {% if qtn.qcategory == 1 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">General <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qcategory == 2 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Data Analysis <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qcategory == 3 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Language <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qcategory == 4 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Logical Reasoning <span class="caret"></span></button>
                 {% endif %}
                </div>
             </td>
             {% if qtn.haspic %}
             <td><i class="fas fa-check-circle fa-lg green"></i></td>
             {% else %}
             <td><i class="fas fa-times-circle fa-lg red"></i></td>
             {% endif %}
             {% if qtn.hasdirection %}
             <td><i class="fas fa-check-circle fa-lg green"></i></td>
             {% else %}
             <td><i class="fas fa-times-circle fa-lg red"></i></td>
             {% endif %}
             <td>
                 <div class="form-group inner-addon">
                     <input type="text"  placeholder="{{ qtn.answer }}"  class="form-control" name=""/>
                 </div>
             </td>
             <td class="save">
                 <form id="examdetail-form" method="get" action="/getqtn/">
                    <input type="hidden" name="examid" value="{{ examid }}" />
                    <input type="hidden" name="qno" value="{{ qtn.qno }}" />
                    <button type="submit" class="ln active">Edit </button>
                 </form>
             </td>
             <td class="save">
                 <form id="examdetail-form" method="post" action="/getqtn/">
                    <input type="hidden" name="examid" value="{{ examid }}" />
                    <input type="hidden" name="qno" value="{{ qtn.qno }}" />
                    <button type="submit" class="ln active">Preview </button>
                 </form>
             </td>
             <td class="delete">
                 <form id="remqtn-form" method="post" action="/removequestions/">
                     {% csrf_token %}
                    <input type="hidden" name="examid" value="{{ examid }}" />
                    <input type="hidden" name="qno" value="{{ qtn.qno }}" />
                    <button type="submit" class="ln active">Delete </button>
                 </form>
             </td>
           </tr>

{% endfor %}
           </tbody>
       </table>
    </div>
