{% if qtnlist %}
{% else %}
  <p>No Question Added</p>
{% endif %}
    <div>
       <table class="table">
           <thead>
           <tr>
             <th>Q.No</th>
             <th>Question</th>
             <th>Q.Type</th>
             <th>Category</th>
             <th>Has Pic</th>
             <th>Has Direction</th>
             <th>Answer</th>
             <th></th>
             <th></th>
             <th></th>
           </tr>
           </thead>

           <tbody>
{% for qtn in qtnlist %}
           <tr>
             <td>{{ qtn.qno }}</td>
             <td>
                 <div class="form-group inner-addon">
                     <input type="text"  placeholder="{{ qtn.question }}"  class="form-control" name=""/>
                 </div>
             </td>
             <td>
                <div class="dropdown">
                 {% if qtn.qtype == 1 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Either or Choice <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 2 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">True or False <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 3 %}
                 <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Multiple selection <span class="caret"></span></button>
                 {% endif %}
                 {% if qtn.qtype == 4 %}
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Descriptive <span class="caret"></span></button>
                 {% endif %}
                </div>
             </td>
             <td>
                <div class="dropdown">
                   <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                      {% for section in section_list %}
                        {% if section.section_no == qtn.qcategory %}
                          {{ section.section_name }}
                        {% endif %}
                      {% endfor %}
                      <span class="caret"></span></button>
                </div>
             </td>
             {% if qtn.haspic %}
             <td><i class="fas fa-check-circle fa-lg green"></i></td>
             {% else %}
             <td><i class="fas fa-times-circle fa-lg red"></i></td>
             {% endif %}
             {% if qtn.hasdirection %}
             <td><i class="fas fa-check-circle fa-lg green"></i></td>
             {% else %}
             <td><i class="fas fa-times-circle fa-lg red"></i></td>
             {% endif %}
             <td>
                 <div class="form-group inner-addon">
                     <input type="text"  placeholder="{{ qtn.answer }}"  class="form-control" name=""/>
                 </div>
             </td>
             <td class="save">
                 <button id="{{ qtn.qno }}editqtn" type="button" class="ln active">Edit</button>
             </td>
             <td class="save">
                 <button id="{{ qtn.qno }}previewqtn" type="button" class="ln active">Preview</button>
             </td>
             <td class="delete">
                 <button id="{{ qtn.qno }}delqtn" type="button" class="ln active" data-toggle="modal" data-target="#delqtnmodal">Delete</button>
             </td>
           </tr>
           <script>
                     $("#{{ qtn.qno }}editqtn").click(function(e){
                           e.preventDefault();
                           $('#qeditModal').modal('show');
                           tinymce.get("id_direction").execCommand('mceSetContent', false, 'Enter Direction');
                           tinymce.get("id_optionA").execCommand('mceSetContent', false, 'Enter Option A');
                           tinymce.get("id_optionB").execCommand('mceSetContent', false, 'Enter Option B');
                           tinymce.get("id_optionC").execCommand('mceSetContent', false, 'Enter Option C');
                           tinymce.get("id_optionD").execCommand('mceSetContent', false, 'Enter Option D');
                           tinymce.get("id_optionE").execCommand('mceSetContent', false, 'Enter Option E');
                           var JSONqtnData = {};
                           JSONqtnData['examid'] = {{ examid }};
                           JSONqtnData['qno'] = {{ qtn.qno }};
                           $.ajax({
                               url: "/editqtndetail/",
                               type: "post",
                               dataType: "json",
                               data: {
                                 json: JSON.stringify(JSONqtnData),
                                 csrfmiddlewaretoken: '{{ csrf_token }}'
                                  },
                               success: showqtnedit,
                               error: function(data){
                                 console.log('error; ' + JSON.stringify(data));
                                  }
                               });
                          return false;
                     });
                     $("#{{ qtn.qno }}previewqtn").click(function(e){
                           e.preventDefault();
                           $('#qpreviewModal').modal('show');
                           var JSONqtnData = {};
                           JSONqtnData['examid'] = {{ examid }};
                           JSONqtnData['qno'] = {{ qtn.qno }};
                           $.ajax({
                               url: "/editqtndetail/",
                               type: "post",
                               dataType: "json",
                               data: {
                                 json: JSON.stringify(JSONqtnData),
                                 csrfmiddlewaretoken: '{{ csrf_token }}'
                                  },
                               success: showqtnpreview,
                               error: function(data){
                                 console.log('error; ' + JSON.stringify(data));
                                  }
                               });
                          return false;
                     });
                     $("#{{ qtn.qno }}delqtn").click(function(){
                        $("#delqtnmodal").find(".modal-footer").html( "  <form id=\"remqtn-form\" method=\"post\" action=\"/removequestions/\"> \
                                                      {% csrf_token %} \
                                                      <input type=\"hidden\" name=\"examid\" value=\"{{ examid }}\" /> \
                                                      <input type=\"hidden\" name=\"qno\" value=\"{{ qtn.qno }}\" /> \
                                                      <button type=\"submit\" class=\"addtoaccount margin-left-220\" style=\"float:left\">Yes</button> \
                                                      </form> \
                                                      <button type=\"button\" class=\"addtoaccount margin-right-220\" data-dismiss=\"modal\" style=\"float:right\">No</button>");
                     });
           </script>

{% endfor %}
           </tbody>
       </table>
    </div>
